// Colors
$global-cream: rgba(234, 235, 227, 1);
$global-pearl-aqua: rgba(122, 206, 195, 1);
$global-rifle-green: rgba(57, 61, 60, 1);
$global-platinum: rgba(233, 234, 226, 1);
$global-white: rgba(255, 255, 255, 1);

// Size
$global-view-port: 1500px;
