@import "partials/params-g";
@import "partials/mixins";

.header {
// |---PARAMS-LOC---|
$main-bg: $global-cream;
$title-box-desc-text-color: $global-rifle-green;
$title-box-icons-color: $global-pearl-aqua;
$menu-box-bg: $global-pearl-aqua;
$menu-box-menu-burger-color: $global-platinum;
$menu-box-contact-text-color: $global-white;

// |---STYLES---|
    &__content {
        display: grid;
        background-color: $main-bg;
    }

    &__title-box {

    }

    &__logo {

    }

    &__logo-description {

    }

    &__soc-net-icons {

    }

    &__soc-net-icon {

    }

    &__menu-contact-box {

    }

    &__menu {

    }

    &__menu-list {

    }

    &__menu-item {

    }

    &__close-menu-button {

    }

    &__times-pic {

    }

    &__open-menu-button {

    }

    &__burger-pic {

    }

    &__address {

    }

    &__phone-mail {

    }
}
