@import "partials/params-g";
@import "partials/mixins";

.projects {
// |---PARAMS-LOC---|
$content-bg: $global-pastel-orange;
$menu-box-bg: $global-meat-brown;
$menu-box-title-color: $global-white;
$menu-box-nav-text-color: $global-white;
$menu-box-nav-text-active-color: $global-taupe;
$menu-box-nav-icon-color: $global-white;
$product-miniature-title-color: $global-taupe;
$product-miniature-text-color: $global-taupe;
$product-miniature-icon-arrow: $global-meat-brown;
$product-miniature-icon-heart: $global-taupe;
$product-miniature-like-value-color: $global-red;
$timeline-box-bg: $global-meat-brown;
$timeline-box-title-color: $global-taupe;
$timeline-box-nav-text-color: $global-white;
$timeline-box-nav-text-active-color: $global-taupe;
$timeline-box-nav-icon-color: $global-white;
$product-single-bg: $global-white;

// |---STYLES---|
    &__content {
        position: relative;
        display: grid;
        grid-template-columns: 300px 165px 270px 300px 465px;
        grid-template-rows: repeat(2, 250px) 215px 250px 300px;
        // background-color: lighten($content-bg, 20%);
        background: url('img/wood_bg2.jpg') no-repeat;
        background-size: cover;
    }

    &__menu-box {
        position: relative;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        background-color: $menu-box-bg;
        background-image: linear-gradient(132.85deg, transparent 50%, $global-platinum 50%, transparent 50.5%);
        background-repeat: no-repeat;
    }

    &__nav-list {
        @include clear-list;
        display: inline-block;
        margin-left: 150px;
        margin-top: 170px;
        color: $menu-box-nav-text-color;
        font-family: 'Roboto Condensed';
        font-size: 13px;
        text-align: left;
        line-height: 16px;
        text-transform: uppercase;
    }

    &__nav-item {
        cursor: pointer;
        transition: .125s linear;
        &:hover {
            color: darken($menu-box-nav-text-color, 15%);
        }
        &:active {
            color: gold;
        }
    }

    &__nav-item--active {
        position: relative;
        color: $menu-box-nav-text-active-color;
        font-weight: bold;
        &::before {
            position: absolute;
            content: "\f061";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 15px;
            top: -0.5px;
            left: -25px;
            color: $menu-box-nav-text-color;
            cursor: default;
        }
        &:hover {
            color: $menu-box-nav-text-active-color;
        }
    }

    &__title {
        margin-top: 60px;
        margin-left: 210px;
        color: $menu-box-title-color;
        font-family: 'Roboto Condensed';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__product-miniature {
        animation: miniature-go .75s linear;
        @keyframes miniature-go {
            from {opacity: 0}
            to {opacity: 1}
        }
    }

    &__product-info {
        background: linear-gradient(90deg, rgba(234, 235, 227, 0.45) 5%, rgba(255, 255, 255, 0.65) 25%, transparent 90%, transparent 100%);
    }

    &__product-name {
        color: $product-miniature-title-color;
        font-family: 'Roboto Condensed';
        font-size: 24px;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__product-property {
        color: $product-miniature-text-color;
        font-family: 'Roboto Condensed';
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
    }

    &__product-property > span {
        color: $product-miniature-text-color;
        font-weight: 300;
    }

    &__product-view {
        position: relative;
        color: $product-miniature-text-color;
        font-family: 'Roboto Condensed';
        font-size: 18px;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        cursor: pointer;
        border-color: $global-meat-brown;
        padding-bottom: 3px;
        transition: .1s linear;
        &::before {
            position: absolute;
            content: "\f061";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 15px;
            top: 1.5px;
            left: -22px;
            color: $product-miniature-icon-arrow;
            cursor: default;
            pointer-events: none;
        }
        &:hover {
            border-bottom: 3px solid $global-meat-brown;
        }
    }

    &__product-likes {
        position: relative;
        color: $product-miniature-like-value-color;
        font-family: 'Roboto Condensed';
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        cursor: default;
        &::before {
            position: absolute;
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            font-weight: regular;
            font-size: 25px;
            bottom: 18px;
            left: 0;
            color: lighten($product-miniature-icon-heart, 10%);
            cursor: pointer;
        }
        &:hover::before {
            font-weight: 900;
            color: darken($product-miniature-like-value-color, 10%);
        }
    }

    &__product-view--1 {
        position: absolute;
        z-index: 5;
        top: 258px;
        left: 140px;
    }

    &__product-likes--1 {
        position: absolute;
        z-index: 5;
        top: 415px;
        left: 170px;
    }

    &__product-view--2 {
        @extend .projects__product-view--1;
        top: 162px;
        left: 62px;
    }

    &__product-likes--2 {
        @extend .projects__product-likes--1;
        top: 242px;
        left: 100px;
    }

    &__product-view--3 {
        @extend .projects__product-view--1;
        top: 95px;
        left: 565px;
    }

    &__product-likes--3 {
        @extend .projects__product-likes--1;
        top: 166px;
        left: 596px;
    }

    &__product-view--4 {
        @extend .projects__product-view--1;
        top: 232px;
        left: 392px;
    }

    &__product-likes--4 {
        @extend .projects__product-likes--1;
        top: 262px;
        left: 545px;
    }

    &__product-view--5 {
        @extend .projects__product-view--1;
        top: 190px;
        left: 155px;
    }

    &__product-likes--5 {
        @extend .projects__product-likes--1;
        top: 260px;
        left: 190px;
    }

    &__product-view--6 {
        @extend .projects__product-view--1;
        top: 145px;
        left: 65px;
    }

    &__product-likes--6 {
        @extend .projects__product-likes--1;
        top: 218px;
        left: 100px;
    }

    &__product-view--7 {
        @extend .projects__product-view--1;
        top: 375px;
        left: 260px;
    }

    &__product-likes--7 {
        @extend .projects__product-likes--1;
        top: 405px;
        left: 388px;
    }

    &__product-view--8 {
        @extend .projects__product-view--1;
        top: 157px;
        left: 277px;
    }

    &__product-likes--8 {
        @extend .projects__product-likes--1;
        top: 222px;
        left: 312px;
    }

    &__product-miniature--1 {
        position: relative;
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        background-color: lighten($global-meat-brown, 5%);
        padding-top: 85px;
        padding-left: 100px;
    }

    &__product-miniature--2 {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        background-color: lighten($global-meat-brown, 10%);
        padding-top: 40px;
        padding-left: 30px;
    }

    &__product-miniature--3 {
        position: relative;
        grid-column: 2 / 5;
        grid-row: 3 / 5;
        background-color: lighten($global-meat-brown, 15%);
        padding-top: 90px;
        padding-left: 360px;
    }

    &__product-miniature--4 {
        position: relative;
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        background-color: lighten($global-meat-brown, 20%);
        padding-top: 200px;
        padding-left: 150px;
    }

    &__product-miniature--5 {
        position: relative;
        grid-column: 4 / 5;
        grid-row: 5 / 6;
        background-color: lighten($global-meat-brown, 25%);
        padding-top: 80px;
        padding-left: 155px;
    }

    &__product-miniature--6 {
        position: relative;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        background-color: lighten($global-meat-brown, 30%);
        padding-top: 35px;
        padding-left: 40px;
    }

    &__product-miniature--7 {
        position: relative;
        grid-column: 5 / 6;
        grid-row: 2 / 4;
        background-color: lighten($global-meat-brown, 35%);
        padding-top: 340px;
        padding-left: 60px;
    }

    &__product-miniature--8 {
        position: relative;
        grid-column: 5 / 6;
        grid-row: 4 / 5;
        background-color: lighten($global-meat-brown, 38%);
        padding-top: 50px;
        padding-left: 245px;
    }

    &__timeline-box {
        position: relative;
        grid-column: 5 / 6;
        grid-row: 5 / 6;
        background-color: $timeline-box-bg;
        background-image: linear-gradient(147.35deg, transparent 50%, $global-platinum 50%, transparent 50.5%);
        background-repeat: no-repeat;
    }

    &__timiline-title {
        margin-top: 60px;
        margin-left: 100px;
        color: $timeline-box-title-color;
        font-family: 'Roboto Condensed';
        font-size: 14px;
        text-transform: uppercase;
    }

    &__timeline-list {
        @extend .projects__nav-list;
        margin-left: 100px;
        margin-top: 10px;
        color: $timeline-box-nav-text-color;
    }

    &__timeline-item {
        @extend .projects__nav-item;
        &:hover {
            color: darken($timeline-box-nav-text-color, 15%);
        }
        &:active {
            color: gold;
        }
    }

    &__timeline-item--active {
        @extend .projects__nav-item--active;
        color: $timeline-box-nav-text-active-color;
        &::before {
            color: $timeline-box-nav-text-color;
        }
        &:hover {
            color: $timeline-box-nav-text-active-color;
        }
    }

    &__product-single {
        display: none;
        z-index: 5;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-color: $product-single-bg;
    }
}
