@import "partials/params-g";
@import "partials/mixins";

.projects {
// |---PARAMS-LOC---|
$content-bg: $global-pastel-orange;
$menu-box-bg: $global-meat-brown;
$menu-box-title-color: $global-white;
$menu-box-nav-text-color: $global-white;
$menu-box-nav-text-active-color: $global-taupe;
$menu-box-nav-icon-color: $global-white;
$product-miniature-title-color: $global-taupe;
$product-miniature-text-color: $global-taupe;
$product-miniature-icon-arrow: $global-meat-brown;
$product-miniature-icon-heart: $global-taupe;
$product-miniature-like-value-color: $global-red;
$timeline-box-bg: $global-meat-brown;
$timeline-box-title-color: $global-taupe;
$timeline-box-nav-text-color: $global-white;
$timeline-box-nav-text-active-color: $global-taupe;
$timeline-box-nav-icon-color: $global-white;
$product-single-bg: $global-white;

// |---STYLES---|
    &__content {
        position: relative;
        display: grid;
        grid-template-columns: 300px 165px 270px 300px 465px;
        grid-template-rows: repeat(2, 250px) 215px 250px 300px;
        // background-color: lighten($content-bg, 20%);
        background: url('img/wood_bg2.jpg') no-repeat;
        background-size: cover;
    }

    &__menu-box {
        position: relative;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        background-color: $menu-box-bg;
        background-image: linear-gradient(132.85deg, transparent 50%, $global-platinum 50%, transparent 50.5%);
        background-repeat: no-repeat;
    }

    &__nav-list {
        @include clear-list;
        display: inline-block;
        margin-left: 150px;
        margin-top: 170px;
        color: $menu-box-nav-text-color;
        font-family: 'Roboto Condensed';
        font-size: 13px;
        text-align: left;
        line-height: 16px;
        text-transform: uppercase;
    }

    &__nav-item {
        cursor: pointer;
        transition: .125s linear;
        &:hover {
            color: darken($menu-box-nav-text-color, 15%);
        }
        &:active {
            color: gold;
        }
    }

    &__nav-item--active {
        position: relative;
        color: $menu-box-nav-text-active-color;
        font-weight: bold;
        &::before {
            position: absolute;
            content: "\f061";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 14px;
            top: -0.6px;
            left: -25px;
            color: $menu-box-nav-text-color;
            cursor: default;
        }
        &:hover {
            color: $menu-box-nav-text-active-color;
        }
    }

    &__title {
        margin-top: 60px;
        margin-left: 210px;
        color: $menu-box-title-color;
        font-family: 'Roboto Condensed';
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__product-miniature {
        animation: miniature-go .75s linear;
        @keyframes miniature-go {
            from {opacity: 0}
            to {opacity: 1}
        }
    }

    &__product-miniature--1 {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        background-color: gray;
    }

    &__product-miniature--2 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        background-color: silver;
    }

    &__product-miniature--3 {
        grid-column: 2 / 5;
        grid-row: 3 / 5;
        background-color: rgba(225, 225, 225, 1);
    }

    &__product-miniature--4 {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        background-color: rgba(204, 204, 204, 1);
    }

    &__product-miniature--5 {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
        background-color: rgba(134, 134, 134, 1);
    }

    &__product-miniature--6 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        background-color: rgba(70, 70, 70, 1);
    }

    &__product-miniature--7 {
        grid-column: 5 / 6;
        grid-row: 2 / 4;
        background-color: rgba(215, 215, 215, 1);
    }

    &__product-miniature--8 {
        grid-column: 5 / 6;
        grid-row: 4 / 5;
        background-color: rgba(49, 53, 61, 1);
    }

    &__timeline-box {
        position: relative;
        grid-column: 5 / 6;
        grid-row: 5 / 6;
        background-color: $timeline-box-bg;
        background-image: linear-gradient(147.35deg, transparent 50%, $global-platinum 50%, transparent 50.5%);
        background-repeat: no-repeat;
    }

    &__timiline-title {
        margin-top: 60px;
        margin-left: 100px;
        color: $timeline-box-title-color;
        font-family: 'Roboto Condensed';
        font-size: 14px;
        text-transform: uppercase;
    }

    &__timeline-list {
        @extend .projects__nav-list;
        margin-left: 100px;
        margin-top: 10px;
        color: $timeline-box-nav-text-color;
    }

    &__timeline-item {
        @extend .projects__nav-item;
        &:hover {
            color: darken($timeline-box-nav-text-color, 15%);
        }
        &:active {
            color: gold;
        }
    }

    &__timeline-item--active {
        @extend .projects__nav-item--active;
        color: $timeline-box-nav-text-active-color;
        &::before {
            color: $timeline-box-nav-text-color;
        }
        &:hover {
            color: $timeline-box-nav-text-active-color;
        }
    }

    &__product-single {
        display: none;
        z-index: 5;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        background-color: $product-single-bg;
    }
}
